*{
  margin: 0px;
  padding: 0;
  /* text-decoration: none; */
}


.wholeprogram{
  background-image: url("ence.png");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav{
  scroll-behavior:smooth;
  padding-top: 25px;
  border-bottom: solid red; 
  height: 75px;
  width: 100%;
  display: flex;
  background-color: aqua;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1em;
}

.main{
  height: 700px;
  border-bottom: red;
}


nav ul li{
  padding-right: 65px;
  display: inline-block ;
  padding-left: 40px;
}
nav ul li a{
  text-decoration: none;
}

a:hover{
  color:blue;
}

a:visited{
  color:blueviolet;
}


.main img{
  margin-top: 10px;
  border:solid black;
  border-radius: 21px;
}


.main h2,p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}


.main h2{
  color:red;
}

.contact{
  background-color:rgb(158, 220, 170);
  height: 300px;
}

.contact h3,ul{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.contact ul li a{
  text-decoration: none;
}

.contact li  :hover{
  color:black;
}

.contact li a:visited{
  color:solid green;
}

table, tr,th,td{
  border: 2px solid black;
  border-collapse:collapse;
  padding:10px;
  border-spacing:5px;
}

th{
  background-color: rgb(236, 193, 193);
}

td{
  background-color: rgb(221, 217, 236);
}